nav {
    padding: 15px;
    border: 3px solid rgb(53, 54, 64);
    border-radius: 3px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase; 
    text-decoration: underline;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    background-color: rgb(37, 36, 36);
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: 1100px;
    margin-top: -2.5%;
    
}
.nav li {
    display: inline;
    float: left;
    margin-right: 8px;
}
.nav li a{
    color: white;
}
body {
    background-color: rgb(36, 37, 44);
}

.box {
    background: rgba(0, 0, 0, 0.4);
    padding: 60px;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    
}
.img-box {
    border-radius: 50%;
    width: 210px;
    height: 200px;
    margin-left: -1270px;
    margin-top: 0%;
}
.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: -12%;
    margin-left: -600px;
}
.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-left: -600px;
}
ul {
    font-family: 'Century Gothic', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p {
    text-align: justify;
    margin-left: 220px;
}
#social {
    font-family: 'Century Gothic', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
#social li {
    display: inline-block;
    margin: 12px;
}
h5 {
    font-family: 'Century Gothic', sans-serif;
    color: white;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-left: 2%;
}